name: Reset staging branch on merge to main

on:
  pull_request:
    types: [closed]

jobs:
  reset_staging:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref == 'staging'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          persist-credentials: false

      - name: Reset staging branch
        run: |
          git config user.name G100g
          git config user.email giorgio.aquino@nearform.com
          git fetch origin main
          git checkout -b staging origin/main
          git reset --hard origin/main
          git push --force origin staging
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
